@charset "UTF-8";
* {
  margin: 0%;
  padding: 0%;
  font-family: 100% Poppins, sans-serif;
}

body {
  margin: 0%;
  padding: 0%;
}

#body-style {
  background-color: #f5e5f1;
  font-family: Poppins, sans-serif;
}

.navbar {
  width: 100%;
  margin: 0%;
  background-color: #fff;
  box-shadow: 0 3px 8px 0 rgba(21, 47, 95, 0.12);
}

#nav-style {
  margin-right: 800px;
  background: linear-gradient(to right, #fc00ff, #00dbde);
  -webkit-background-clip: text;
  color: transparent;
}

.nav-item {
  padding: 1px 20px;
  background-color: #fff;
}

.active {
  background-color: #f5e5f1;
  color: white;
  border-radius: 10px;
}

.home__content-left {
  width: 400px;
  height: 300px;
  margin: 200px 0 0 0;
}
.home__content-right {
  margin-top: 140px;
  background-repeat: no-repeat;
  border-radius: 50px;
}

.home__p {
  margin: 0px;
  padding: 10px 30px;
  color: #666;
  font-size: 23px;
  font-weight: 600;
  line-height: 100%;
}

.home__title {
  font-size: 80px;
  margin: 0px;
  padding: 10px 30px;
  color: #32333c;
  font-weight: 600;
}

.home__button {
  display: block;
  margin-top: 20px;
  margin-left: 30px;
  text-decoration: none;
  padding: 15px 60px;
  max-width: 250px;
  text-align: center;
  border: transparent;
  outline: transparent;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  animation: glow 8s linear infinite;
}

.home__button-gradient {
  color: white;
  background: linear-gradient(90deg, #00dbde, #fc00ff, #00dbde);
  background-size: 300%;
  border-radius: 2em;
}
.home__button-gradient .home__button::before {
  position: absolute;
  content: "";
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  z-index: -1;
  background: inherit;
  background-size: inherit;
  border-radius: 4em;
  opacity: 0;
  transition: 0.5s;
}
.home__button-gradient .home__button:hover::before {
  opacity: 1;
  filter: blur(20px);
  animation: glow 8s linear infinite;
}

@keyframes glow {
  to {
    background-position: 300%;
  }
}
.home__button:hover {
  text-decoration: none;
}

.main__title {
  font-weight: 600;
  font-size: 20px;
  text-shadow: 2px 2px 2px #007bff;
}

.about__text {
  margin-top: 10px;
}
.about__title {
  padding: 2px;
  margin: 0px;
  color: black;
  font-size: 16px;
  font-weight: 600;
}
.about__attachment {
  margin-top: 10px;
}

.information {
  width: 300px;
  height: 700px;
  background-color: #fff;
  margin-top: 100px;
  border-radius: 20px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.information__img {
  width: 300px;
  height: 240px;
  margin-top: 20px;
}
.information__content {
  margin: 10px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}
.information__social {
  margin: 0%;
  padding: 0px;
}
.information__link:hover {
  text-decoration: none;
}
.information__socialMediaItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: content-box;
  width: 20px;
  height: 20px;
  margin: 0 20px;
  background-color: white;
  color: #5a5d80;
}
.information__socialMediaItem:hover {
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
  transform: translateY(-6px);
  box-shadow: 0 18px 10px rgba(0, 0, 0, 0.15);
}

.text__p {
  padding: 2px;
  margin: 0px;
  font-size: 14px;
}

/* button 动画效果 */
#draw-border {
  margin-top: 10px;
  border: 0;
  background: none;
  text-transform: uppercase;
  color: #007bff;
  font-weight: bold;
  position: relative;
  outline: none;
  padding: 10px 20px;
  box-sizing: border-box;
  width: 100%;
}

#draw-border::before, #draw-border::after {
  box-sizing: inherit;
  position: absolute;
  content: "";
  border: 2px solid transparent;
  width: 0;
  height: 0;
}

#draw-border::after {
  bottom: 0;
  right: 0;
}

#draw-border::before {
  top: 0;
  left: 0;
}

#draw-border:hover::before, #draw-border:hover::after {
  width: 100%;
  height: 100%;
}

#draw-border:hover::before {
  border-top-color: #007bff;
  border-right-color: #007bff;
  transition: width 0.2s ease-out, height 0.2s ease-out 0.2s;
}

#draw-border:hover::after {
  border-bottom-color: #007bff;
  border-left-color: #007bff;
  transition: border-color 0s ease-out 0.4s, width 0.2s ease-out 0.4s, height 0.2s ease-out 0.6s;
}

.description {
  width: 800px;
  height: 700px;
  background-color: #fff;
  margin-top: 100px;
  border-radius: 20px;
  padding: 30px 40px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.info__p {
  color: #666;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.about__skill {
  margin-top: 40px;
}
.about__list {
  display: flex;
  justify-content: space-between;
}
.about__listLeft {
  list-style: none;
  line-height: 60px;
}
.about__listRight {
  list-style: none;
  line-height: 60px;
  margin-left: 80px;
  font-size: 14px;
  width: 800px;
}
.about__listLeftItem:hover {
  transform: translateX(-3px);
  cursor: pointer;
}
.about__listRightItem:hover {
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  color: black;
}

strong {
  color: black;
}

.resume__content {
  padding: 30px;
  background-color: #fff;
  border-radius: 20px;
  width: 900px;
  height: 1240px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin-top: 100px;
}

.resume__text {
  padding: 10px;
}
.resume__project, .resume__education {
  padding: 15px 20px 10px;
  height: 200px;
  margin: 10px 20px 20px;
  background-color: #fff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}
.resume__education:hover, .resume__project:hover {
  box-shadow: 0px 10px 20px 3px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.project__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.project__img {
  width: 650px;
  height: 450px;
}

.timelines {
  cursor: pointer;
  border-left: 2px solid #dadada;
  padding: 8px 0 8px 48px;
}

.timelines > div {
  margin-top: 16px;
  margin-bottom: 16px;
}

.timeline {
  cursor: pointer;
  position: relative;
  padding: 16px 20px;
  border-radius: 4px;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
  border-left: 2px solid #e9e8ee;
  margin-left: -5px;
}

.timeline::before {
  content: "";
  width: 48px;
  border-bottom: 2px solid #007bff;
  position: absolute;
  left: -48px;
  top: 30px;
}

.timeline::after {
  content: "";
  position: absolute;
  left: -52px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: 2px solid #007bff;
  top: 24px;
  background: #007bff;
  box-shadow: 0 0 0 0.1875rem rgba(48, 76, 253, 0.25);
}

.education__info {
  display: flex;
  justify-content: space-between;
}

.date {
  color: #007bff;
  padding: 10px;
  font-size: 12px;
}

.contact__content {
  padding: 30px;
  margin-top: 100px;
  background-color: #fff;
  width: 900px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#footer {
  margin-top: 170px;
}

footer {
  left: 0%;
  right: 0%;
  margin-top: 120px;
  text-align: center;
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: #fff;
}

/*# sourceMappingURL=styles.css.map */
